

## **Project 1 - Fundamental of AI & ML**

#### **Title**: *EDA on Cardio Good Fitness data*

#### **Author**: *Pankaj Singh*

**Domain** : Customer analytics

**Data Description** : The data is about customers of the treadmill product(s) of a retail store called Cardio Good Fitness.

**Attribute Information** 

- **`Product`** : The model no. of the treadmill <br>
- **`Age`** : Age of the customer in no of years <br>
- **`Gender`** : Gender of the customer <br>
- **`Education`** : Education of the customer in no. of years <br>
- **`Marital Status`** : Marital status of the customer <br>
- **`Usage`** : Avg. # times the customer wants to use the treadmill every week <br>
- **`Fitness`** : Self rated fitness score of the customer (5 - very fit, 1 - very unfit) <br>
- **`Income`** : Income of the customer <br>
- **`Miles`** : Miles that a customer expects to run <br>

**Project Objective**

- Explore the dataset to identify differences between the customers of each product. 
- Explore relationships between the different attributes of the customers. 
- Propose any other line of questioning that could be relevant for the business.

**Project Deliverables**

- Coming up with a customer profile (characteristics of a customer) of the different products
- Perform univariate and multivariate analyses
- Generate a set of insights and recommendations that will help the company in targeting new customers.

**Learning Objective**
- Exploratory Data Analysis
- Expand the knowledge of NumPy, Pandas and Seaborn

##### Import Libraries

In [2]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns
import matplotlib.style as style; style.use('fivethirtyeight')

##### Load data

In [3]:
cardio = pd.read_csv('CardioGoodFitness.csv')

##### Data Statistics

In [4]:
## Print out the sahpe of data
cardio.shape

(180, 9)

The dataset has 180 rows and 9 columns.

In [5]:
## Print out the first 5 rows of the data
cardio.head(5)

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [7]:
## Print out the data tyoe of each attribute
cardio.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

Numeric attributes: `Age`, `Education`, `Usage`, `Fitness`, `Income`, `Miles`

Object attributes: `Product`, `Gender`, `MaritalStatus`

In [8]:
# Checking the presence of missing values
cardio.isnull().sum()

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            0
Fitness          0
Income           0
Miles            0
dtype: int64

The dataset has no null values.

In [16]:
print(cardio['Product'].unique(),'\n',
      cardio['Gender'].unique(),'\n',
      cardio['MaritalStatus'].unique(),'\n',
      cardio['Fitness'].unique())

['TM195' 'TM498' 'TM798']
 ['Male' 'Female']
 ['Single' 'Partnered']
 [4 3 2 1 5]

In [9]:
cardio.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000